In [52]:
import pandas as pd

filepath6 = r'/Users/cartersocha/Downloads/DeltaSubmissionRedditToComments.csv'
redditCommentsDf = pd.read_csv(filepath6)

filepath7 = r'/Users/cartersocha/Downloads/redditSubmissionCommentss.csv'
redditCommentsDf2 = pd.read_csv(filepath7)

In [53]:
sum(redditCommentsDf['delta_comments'])

3794.0

In [54]:
redditCommentsDf2.head()

,Unnamed: 0,id,score,subreddit,created_utc,link_id,body,trueDate,NumComments,TvShow
0,0,i8o1kzk,9,television,1.652596e+09,uoft8c,"It‚Äôs not quite the same, but if you are a fan ...",2022-05-15 06:23:27+00:00,1,theEssexSerpent
1,1,i8uvfru,7,television,1.652729e+09,uoft8c,"This is filmed where it's set, in the Maldon a...",2022-05-16 19:26:36+00:00,1,theEssexSerpent
2,2,i8igkuq,13,television,1.652483e+09,uoft8c,It‚Äôs not boring at all. It‚Äôs for a mature audi...,2022-05-13 23:06:07+00:00,1,theEssexSerpent
3,3,i8lysr2,7,television,1.652556e+09,uoft8c,I was deciding whether to watch this or CANDY ...,2022-05-14 19:25:45+00:00,1,theEssexSerpent
4,4,i8hlyqy,5,television,1.652470e+09,uoft8c,First episode was okay. There is a nice atmosp...,2022-05-13 19:18:59+00:00,1,theEssexSerpent

In [55]:
filepath8 = r'/Users/cartersocha/Downloads/redditCommentsTvShows.csv'
redditCommentsDf3 = pd.read_csv(filepath8)

/var/folders/7v/2b53j97121jg00pcthbt6kz80000gn/T/ipykernel_27477/63417378.py:2: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  redditCommentsDf3 = pd.read_csv(filepath8)

In [56]:
redditCommentsDf3

,Unnamed: 0,body,id,link_id,score,subreddit,TvShow,NumComments,trueDate,runDate
0,0,Lol I feel you but this is not even close at a...,i5l5pqg,u89bvs,1.0,Torontology,Atlantafx,1,2022-04-21 06:47:41+00:00,2022-06-23
1,1,Atlanta season 3 promo,i5l5mkz,u8djs0,1.0,nextfuckinglevel,Atlantafx,1,2022-04-21 06:46:32+00:00,2022-06-23
2,2,"Prime Ben refused a bunny against Atlanta, he ...",i5l5iq8,u8fahs,1.0,nba,Atlantafx,1,2022-04-21 06:45:06+00:00,2022-06-23
3,3,There's [this great video](https://twitter.com...,i5l57x9,u88lfc,1.0,baseball,Atlantafx,1,2022-04-21 06:41:09+00:00,2022-06-23
4,4,"Yea Atlanta is ghetto and disgusting, and I‚Äôm ...",i5l57di,u8fna2,1.0,iamatotalpieceofshit,Atlantafx,1,2022-04-21 06:40:58+00:00,2022-06-23
...,...,...,...,...,...,...,...,...,...,...
926513,765454,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e70vx,uu30oz,1.0,PersonalFinanceCanada,HumanResources,1,2022-05-21 00:12:03+00:00,2022-06-16
926514,765455,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e706t,uu5ioy,1.0,PersonalFinanceCanada,HumanResources,1,2022-05-21 00:11:53+00:00,2022-06-16
926515,765456,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e6zhk,uszz8p,1.0,PersonalFinanceCanada,HumanResources,1,2022-05-21 00:11:42+00:00,2022-06-16
926516,765457,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e6l9i,nlt1em,1.0,shib,HumanResources,1,2022-05-21 00:08:13+00:00,2022-06-16
926517,765458,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e6krp,nqummj,1.0,shib,HumanResources,1,2022-05-21 00:08:05+00:00,2022-06-16

In [57]:
inverse_boolean_series = ~redditCommentsDf3.link_id.isin(list(redditCommentsDf2['link_id']))
inverse_filtered_df = redditCommentsDf3[inverse_boolean_series]
inverse_filtered_df

,Unnamed: 0,body,id,link_id,score,subreddit,TvShow,NumComments,trueDate,runDate
0,0,Lol I feel you but this is not even close at a...,i5l5pqg,u89bvs,1.0,Torontology,Atlantafx,1,2022-04-21 06:47:41+00:00,2022-06-23
1,1,Atlanta season 3 promo,i5l5mkz,u8djs0,1.0,nextfuckinglevel,Atlantafx,1,2022-04-21 06:46:32+00:00,2022-06-23
2,2,"Prime Ben refused a bunny against Atlanta, he ...",i5l5iq8,u8fahs,1.0,nba,Atlantafx,1,2022-04-21 06:45:06+00:00,2022-06-23
3,3,There's [this great video](https://twitter.com...,i5l57x9,u88lfc,1.0,baseball,Atlantafx,1,2022-04-21 06:41:09+00:00,2022-06-23
4,4,"Yea Atlanta is ghetto and disgusting, and I‚Äôm ...",i5l57di,u8fna2,1.0,iamatotalpieceofshit,Atlantafx,1,2022-04-21 06:40:58+00:00,2022-06-23
...,...,...,...,...,...,...,...,...,...,...
926513,765454,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e70vx,uu30oz,1.0,PersonalFinanceCanada,HumanResources,1,2022-05-21 00:12:03+00:00,2022-06-16
926514,765455,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e706t,uu5ioy,1.0,PersonalFinanceCanada,HumanResources,1,2022-05-21 00:11:53+00:00,2022-06-16
926515,765456,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e6zhk,uszz8p,1.0,PersonalFinanceCanada,HumanResources,1,2022-05-21 00:11:42+00:00,2022-06-16
926516,765457,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e6l9i,nlt1em,1.0,shib,HumanResources,1,2022-05-21 00:08:13+00:00,2022-06-16
926517,765458,üê≤Lil Dragon $LDG NFT Metaverse for human resou...,i9e6krp,nqummj,1.0,shib,HumanResources,1,2022-05-21 00:08:05+00:00,2022-06-16

In [58]:
inverse_filtered_df2 = inverse_filtered_df[['link_id','id','trueDate','TvShow','subreddit','score','NumComments']]

redditCommentsDf22 = redditCommentsDf2[['link_id','id','trueDate','TvShow','subreddit','score','NumComments']]

In [59]:
inverse_filtered_df2.head()

,link_id,id,trueDate,TvShow,subreddit,score,NumComments
0,u89bvs,i5l5pqg,2022-04-21 06:47:41+00:00,Atlantafx,Torontology,1.0,1
1,u8djs0,i5l5mkz,2022-04-21 06:46:32+00:00,Atlantafx,nextfuckinglevel,1.0,1
2,u8fahs,i5l5iq8,2022-04-21 06:45:06+00:00,Atlantafx,nba,1.0,1
3,u88lfc,i5l57x9,2022-04-21 06:41:09+00:00,Atlantafx,baseball,1.0,1
4,u8fna2,i5l57di,2022-04-21 06:40:58+00:00,Atlantafx,iamatotalpieceofshit,1.0,1

In [60]:
merged = inverse_filtered_df2.append(redditCommentsDf22, ignore_index=True)

/var/folders/7v/2b53j97121jg00pcthbt6kz80000gn/T/ipykernel_27477/2391095379.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged = inverse_filtered_df2.append(redditCommentsDf22, ignore_index=True)

In [61]:
merged.dropna(inplace=True)

In [62]:
merged

,link_id,id,trueDate,TvShow,subreddit,score,NumComments
0,u89bvs,i5l5pqg,2022-04-21 06:47:41+00:00,Atlantafx,Torontology,1.0,1
1,u8djs0,i5l5mkz,2022-04-21 06:46:32+00:00,Atlantafx,nextfuckinglevel,1.0,1
2,u8fahs,i5l5iq8,2022-04-21 06:45:06+00:00,Atlantafx,nba,1.0,1
3,u88lfc,i5l57x9,2022-04-21 06:41:09+00:00,Atlantafx,baseball,1.0,1
4,u8fna2,i5l57di,2022-04-21 06:40:58+00:00,Atlantafx,iamatotalpieceofshit,1.0,1
...,...,...,...,...,...,...,...
1094421,u4tne5,i5poi28,2022-04-22 05:00:21+00:00,OuterRange,television,1,1
1094422,u4tne5,i5ppm4q,2022-04-22 05:12:04+00:00,OuterRange,television,0,1
1094423,u4tne5,i5r1nls,2022-04-22 14:11:14+00:00,OuterRange,television,0,1
1094424,uj5ayy,i7h1uuj,2022-05-05 20:51:04+00:00,Outlander,television,1,1
1094425,uj5ayy,i7lxmyd,2022-05-06 22:24:04+00:00,Outlander,television,3,1

In [63]:
filepath8 = r'/Users/cartersocha/Desktop/ReleaseData.xlsx'
releaseDateDf = pd.read_excel(filepath8, "ShowInfoEndStart")

In [64]:
# Merge DataFrames by Column
df3=pd.merge(merged,releaseDateDf, on='TvShow', how='inner')

In [65]:
df3.dropna(inplace=True)

In [66]:
df3

,link_id,id,trueDate,TvShow,subreddit,score,NumComments,Stream,EpisodeCount,SeasonNumber,ReleaseCadence,Release Date,Ignore,ShowStatus
0,u89bvs,i5l5pqg,2022-04-21 06:47:41+00:00,Atlantafx,Torontology,1.0,1,Hulu,10.0,3.0,Hybrid,2022-03-25,1,Completed
1,u8djs0,i5l5mkz,2022-04-21 06:46:32+00:00,Atlantafx,nextfuckinglevel,1.0,1,Hulu,10.0,3.0,Hybrid,2022-03-25,1,Completed
2,u8fahs,i5l5iq8,2022-04-21 06:45:06+00:00,Atlantafx,nba,1.0,1,Hulu,10.0,3.0,Hybrid,2022-03-25,1,Completed
3,u88lfc,i5l57x9,2022-04-21 06:41:09+00:00,Atlantafx,baseball,1.0,1,Hulu,10.0,3.0,Hybrid,2022-03-25,1,Completed
4,u8fna2,i5l57di,2022-04-21 06:40:58+00:00,Atlantafx,iamatotalpieceofshit,1.0,1,Hulu,10.0,3.0,Hybrid,2022-03-25,1,Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933358,uoft8c,i9b8l0z,2022-05-20 10:37:55+00:00,theEssexSerpent,television,1,1,Apple,6.0,1.0,Hybrid,2022-05-13,1,Completed
933359,uoft8c,i9prr7s,2022-05-23 18:52:17+00:00,theEssexSerpent,television,2,1,Apple,6.0,1.0,Hybrid,2022-05-13,1,Completed
933360,vaauz9,ic2hrjk,2022-06-12 08:57:09+00:00,theEssexSerpent,television,-8,1,Apple,6.0,1.0,Hybrid,2022-05-13,1,Completed
933361,uowyvx,i8hexh6,2022-05-13 18:29:53+00:00,theEssexSerpent,entertainment,3,1,Apple,6.0,1.0,Hybrid,2022-05-13,1,Completed
933362,uowyvx,i8hq42d,2022-05-13 19:47:58+00:00,theEssexSerpent,entertainment,2,1,Apple,6.0,1.0,Hybrid,2022-05-13,1,Completed

In [67]:
df3['RunDate'] = pd.to_datetime(df3.trueDate,utc=False)
df3['RunDate'] = pd.to_datetime(df3['RunDate'],utc=True).dt.tz_localize(None)
df3['RunDate'] = df3.RunDate.dt.normalize()

In [68]:
df3 = df3.reset_index()

In [69]:
filepath2 = r'/Users/cartersocha/Downloads/redditCommentCombo.csv'

df3.to_csv(filepath2)